<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights Information</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans text-gray-900">

    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6">Lendude Informatsioon</h1>
        
        <div class="overflow-x-auto shadow-lg rounded-lg">
            <table class="min-w-full bg-white border-collapse">
                <thead>
                    <tr class="bg-gray-200 text-gray-700">
                        <th class="px-6 py-3 text-left">Lennuaeg</th>
                        <th class="px-6 py-3 text-left">Lennu Staatus</th>
                        <th class="px-6 py-3 text-left">Väljumis Lennujaam</th>
                        <th class="px-6 py-3 text-left">Jõudmis Lennujaam</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="flight : ${flights}" class="border-b">
                        <td th:text="${flight.flight_date}" class="px-6 py-3 text-gray-700"></td>
                        <td th:text="${flight.flight_status}" class="px-6 py-3 text-gray-700"></td>
                        <td th:text="${flight.departure.airport}" class="px-6 py-3 text-gray-700"></td>
                        <td th:text="${flight.arrival.airport}" class="px-6 py-3 text-gray-700"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
